@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap');

body {
    background-color: #87F1FF;
    font-family: "EB Garamond";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* Bordered form */
form {
    font-family: "EB Garamond";
    text-align: center;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Dancing Script";
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #D5A021;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color: #396E94;
  }

  .submit {
    margin-left: 5%;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }